// .a{
//  background-color: pink;
//  p{
//     color: red;
//  }
// }

:global(.bb) {
  color: red;
}

.nav-left {
  width: 10%;
  // float: left;
}

.home {
  height: 1000px;
}

@media (max-width: 1200px) {
  .nav-left {
    width: 120px;
    // float: left;
  }
}
